* {
    padding: 0;
    margin: 0;
}

.image {
    width: 600px;
    height: 400px;
}

.div {
    margin-left: 450px;
    position: relative;
}

.divtittle {
    position: absolute;
    top:300px;
    background-color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.divtext {
    text-align: start;
    width: 600px;
    margin-top: 20px;
}
.tittle2 {
    margin-top: 20px;
}
.desc2 {
    margin-top: 20px;
    font-size: 20px;
}
.desc1 {
    font-size: 18px;
    color: grey;
}
body {
    font-family: 'Open Sans', sans-serif;
}