* {
    margin: 0;
    padding: 0;
}

.divimage {
    text-align: center;
    position: relative;

}

div>img {
    width: 600px;
    height: 400px;
}

.divname {
    width: 600px;
    margin: 0px auto;
    text-align: start;
}
.divtittle {
    font-size: 30px;
    background-color: white;
    position: absolute;
    top:320px;
    left: 467px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 22px;
    padding-bottom: 10px;
    font-size: 15px;
}
.divname>h2 {
    margin-top: 20px;
}
.divname>p:last-of-type {
    margin-top: 20px;
    font-size: 23px
}
.divname>p:first-of-type {
    font-size: 18px;
    margin-top: 10px;
    color: grey;
}
body {
    font-family: 'Open Sans', sans-serif;
}